<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registro</title>
    <script src="https://kit.fontawesome.com/4a85f0d80f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body>
<!--///////////////////////////////////////////////////////////////////////////////Header//////////////////////////////////////////////////////////////////////////////////////////////////  -->
    <header class="home__header">
        <div class="home__header__box">
            <div class="home__header__encabezado">
                <div class="home__header__encabezado__logo">
                    <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo"></a>
                </div>
                <div class="home__heade__rencabezado__barra">           
                    <form class="home__header__encabezado__form" action="#" method="post" target="_blank">
                        <input class="home__header__encabezado__form__input" type="search" placeholder="Buscar productos, marcas" >
                        <div class="home__header__encabezado__btn">   
                            <i class="fa-solid fa-magnifying-glass"></i>  
                        </div>
                    </form>     
                </div>
                
            </div> 
            <p class="home__header__encabezado__compra__p"><i class="fa-sharp fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="home__header__menu">
            <ul class="home__header__menu__opciones">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="home__header__menu__login">
                <li><a href="/register">Creá tu cuenta</a><i class="fa-regular fa-address-card"></i><br></li> 
                <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i><br></li> 
                <li><a href="#">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="home__header__burger__menu">
          <a href="/"><i class="fas fa-bars"></i></a>  
        </div>
    </header>
<!-- ///////////////////////////////////////////////////////////////////////////Fin de Header //////////////////////////////////////////////////////////////////////////////////////////-->

    <main class="main">
        <div class="main__formLogin">
            <form action="" >
                <div class="main__formBox__form__Inputs" >
                    
                    <input id="user" type="text" name="user" placeholder="Nombre de usuario">
                </div>
                
                <div class="main__formBox__form__Inputs">

                    <input id="password" type="password" name="password" placeholder="Escribe tu contraseña">
                </div>
                <div class="main__formBox__form__buttons">
                    <button type="submit" href="/" ><a href="/">Enviar</a></button>
                </div>
            </form>
        </div>
    </main>
 <!-- ////////////////////////////////////////////////////////////////////////////////Footer ////////////////////////////////////////////////////////////////////////////////////////////////-->
    <footer class="home__footer">
        
        <article class="home__footer__paga">
            <i class="fa-solid fa-credit-card"></i>
            <h4 class="home__footer__paga__titulo">Pagá con tarjeta o en efectivo</h4>
            <p class="home__footer__paga__p">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </article>
    
    
        <article class="home__footer__envio">
            <i class="fa-sharp fa-solid fa-gift"></i>
            <h4 class="home__footer__envio__titulo">Envío gratis desde $ 2.500</h4>
            <p class="home__footer__envio__p">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>
    
    
        <article class="home__footer__seguridad">
            <i class="fa-solid fa-user-shield"></i>
            <h4 class="home__footer__seguridad__titulo">Seguridad, de principio a fin</h4>
            <p class="home__footer__seguridad__p">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>
    
        <p class="home__footer__p">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</footer>
   <!-- ///////////////////////////////////////////////////////////////////////Finde de Footer ////////////////////////////////////////////////////////////////////////////////////////////////////--> 
</body>
</html>