.main__formLogin{
    max-width: 450px;
    margin: 25px auto;
}
.main__formLogin .main__formBox__form__buttons button:hover{
    background-color: var(--colorAmarillo)
}
.main__formLogin .main__formBox__form__Inputs{
    margin: 30px 0;
}
