
.home__main__banner{
    width: 100%;
}
.home__main h3{
    margin-left: 5%;
}
.home__main__article{
    margin:0 auto 10px; 
    color: var(--colorGrisOscuro); 
    background-color: #ffffff;  
}
/*//////////////////////////////////////////////////////////////////////////////////// animacion ////////////////////////////////////////////////////////////////////////////////////////////*/
.home__main__article .home__main__descripcion{
    overflow: hidden;
    height: 0;
    transition: all 1s ease;
}
.home__main__article:hover .home__main__descripcion{
    height: 20px;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.home__main__visita__precio,.home__main__ofertas__precio {
    font-size:18px ;
    line-height: 24px;  
    margin: 0; 
    width: 30%;
    color: var(--colorGrisOscuro);
}
.home__main__visita,.home__main__ofertas{
    width: 90%;
    margin: auto;
    align-items: flex-start;
}
.home__main__visita__descuento,.home__main__ofertas__descuento{
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    color: var(--colorVerde);
    text-align: center;
    padding-bottom: 5px;
    width: 70%;

}
.home__main__descripcion{
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding-top: 5px;
    display: none;
}
.home__main__section__article{
    display: flex;
    border-top: solid 1px #ebebeb;
    padding: 15px;
    flex-wrap: wrap;
    position: relative;  
}
.home__main__article i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 3px;
    width: 25px;
    align-content: center;
    border: 1px solid #39b54a;
    height: 25px;
    background-color: #FFF;
    position: absolute;
    border-radius: 50%;
    color: #39b54a;
    right: 20px;
    top: -15px;
    text-align: center;
}
/* ////////////////////////////////////////////////////////////////////////////////////animacion del camion //////////////////////////////////////////////////////////////////////////////////*/
.home__main__section__article i:hover {
    animation: rotate 1.5s linear;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    50% {
      transform: rotate(-90deg);
    }
    100% {
      transform: rotate(0);
}
}
/* ////////////////////////////////////////////////////////////////////////////////////////fin de animacion ////////////////////////////////////////////////////////////////////////////*/
.home__main__visita__descripcion{
    color: var(--colorGrisOscuro);
}
/*/////////////////////////////////////////////////////////////////////////////////////////// tablet ///////////////////////////////////////////////////////////////////////////////////////*/
@media (min-width:481px) {
    .home__main__visita,.home__main__ofertas{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    .home__main__descripcion{
        display: block;
    }
    .home__main__ofertas__descuento,.home__main__visita__descuento{
        text-align: center;
    }  
    .home__main__article{
        width: 42%;
        margin:0 auto 10px; 
        color: var(--colorGrisOscuro); 
        transition: all 1s ease;
        background-color: #ffffff;
    }
    /*/////////////////////////////////////////////////////////////////////////////////// Sombra ///////////////////////////////////////////////////////////////////////////////////////////*/
    .home__main__article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}
/* ////////////////////////////////////////////////////////////////////////////////////////desktop ///////////////////////////////////////////////////////////////////////////////////////*/
@media (min-width:769px) {
    .home__main h3{
        margin-left: 2%;
    }
    .home__main__article{
        width: 22%;
    }
    .home__main__visita__descuento,.home__main__ofertas__descuento{ 
        text-align:right;
    }
}